<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="/static/login/css/style.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <style>
        #bt {
            margin-left: 96%;
        }

        #bt1 {
            position: absolute;
            top: 57px;
            right: 90px;
        }
    </style>
</head>

<body>
    <h1 style="padding-bottom: 5px;">!!!!Under Construction!!!!</h1>
    <div id="z">
        <a href="../login/" id="bt" class="btn btn-outline-secondary rn">Login?</a>
        <a href="../register/" id='bt1' class="btn btn-outline-secondary rn">Register?</a>
    </div>
    <img src="/static/login/img/uc.png" alt="Under Construction">
</body>

</html>